@{
    ViewBag.Title = "发送邮件";
}

<h2>@ViewBag.Message</h2>
<p>

    <form id="form1" action="/AsyncMail/Sendmail" method="post" enctype="multipart/form-data">
        <div>
            <table style="width: 800px;">
                <tr>
                    <td style="width: 80%">
                        <table style="width: 100%" class="mailpanel">
                            <tr>
                                <td>发件人
                                </td>
                                <td>
                                    <input name="txtfrom" placeholder="Email" type="text" value="@ViewBag.mailfrom" /><input name="txtfromname" type="text" placeholder="姓名" value="@ViewBag.namefrom" />
                                </td>
                            </tr>
                            <tr>
                                <td>收件人
                                </td>
                                <td>
                                    <input name="txtTo" type="text" placeholder="Email" value="" /><input name="txtToname" placeholder="姓名" type="text" value="" />

                                </td>
                            </tr>
                            <tr>
                                <td>抄送人
                                </td>
                                <td>
                                    <input name="txtCc"  placeholder="Email" type="text" value="" /><input name="txtCcname" placeholder="姓名" type="text" value="" />

                                </td>
                            </tr>
                            <tr>
                                <td>主题
                                </td>
                                <td>
                                    <input name="txtTitle" type="text" />
                                </td>
                            </tr>
                            <tr>
                                <td>内容
                                </td>
                                <td>@Html.TextArea("txtContent", "",4,24, new { width = "80%"})
                                </td>
                            </tr>
                            <tr>
                                <td>附件  
                                </td>
                                <td>
                                    <p id="FileList">
                                        <input name="File" type="file" id="upfile_0"  onchange="checkfile(this,0);" />

                                    </p>
                                    <input type="button" value="增加附件" class="ButtonCss" onclick="addFile()" />
                                </td>
                            </tr>
                            <tr>
                                <td align="center" colspan="2">
                                    <input id="guid" name="guid" type="hidden"  value="@ViewBag.guid" />
                                    <input id="btnAjaxSubmit" type="button" value="发送" />
                                    @*<input id="Button1" type="submit" value="发送" />*@
                                </td>
                            </tr>
                            <tr>
                                <td align="center" colspan="2"><textarea id="TextAreamsage" rows="2" cols="20" style="display:none"></textarea></td>
                            </tr>
                        </table>
                    </td>
                    <td style="vertical-align: top;">
    <table>
        <tr>
        <td><input id="selectAll" type="checkbox" />全</td>
        <td class="ischeckid">等待发送</td>
        <td class="sendok">发送完毕</td>
        </tr>
        <tr>
            <td colspan="3">
                <div style="height:360px; overflow-y:scroll;  width:200px;">

                    <ul id="memberlist">
                        @foreach (System.Data.DataRow row in Model.Tables[0].Rows)
                        {
                            <li>
                                @Html.CheckBox("selmember", false, new { Value = row["id"], @class = "mblist" }) @row["username"]
                            </li>
                        }

                    </ul>
                </div>
            </td>
        </tr>
    </table>
</td>

                </tr>
            </table>
        </div>
    </form>
</p>
